html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












.header-image{
  height: 304px;
  background: url(../images-resto/blog-header.jpg);
  text-align: center;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-image h1{
  color: white;
  font-size: 64px;
}
.header-image p{
  font-size: 1.1rem;
  font-weight: bold;
}
.header-image #pageName{
  color: white;
}
.filariane{
  display: flex;
}
.homeAriane, .menuAriane{
  color: orange;
}

main{
  margin: 70px 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blog1{
  width: 485px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  background-image: url(/Assets/images-resto/blogSandwich.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#blog2{
  width: 485px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  background-image: url(/Assets/images-resto/blogTurkeyBurger.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#blog3{
  width: 485px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  background-image: url(/Assets/images-resto/blogAmericanBurgers.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#blog4{
  width: 485px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  background-image: url(/Assets/images-resto/blogPizza.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.deuxiemeLigne{
  margin-bottom: 0;
}

.sectionBlog p{
  width: fit-content;
  height: fit-content;
  background-color: orange;
  padding: 10px;
  margin-bottom: 150px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
.sectionBlog p:hover{
  cursor: pointer;
  background-color: orange;
  transform: scale(1.1);
}
.sectionBlog h1{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.blogInfo{
  display: flex;
  align-items: center;
}
.author{
  font-weight: bold;
  color: white;
}
.author strong{
  color: orange;
}
.date{
  display: flex;
  align-items: center;
  margin-left: 45px;
  color: orange;
  font-weight: bold;
}
.date i{
  margin-right: 5px;
  color: white;
}


.fa-phone{
  font-size: 1.5rem;
  margin-right: 20px;
  color: black;
  transition: 0.2s;
}
.fa-phone:hover{
  cursor: pointer;
  font-size: 1.54rem;
  color: orange;
}




