html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












.header-image{
  height: 304px;
  background: url(../images-resto/contact-header.jpg);
  text-align: center;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-image h1{
  color: white;
  font-size: 64px;
}
.header-image p{
  font-size: 1.1rem;
  font-weight: bold;
}
.header-image #pageName{
  color: white;
}
.filariane{
  display: flex;
}
.homeAriane, .menuAriane{
  color: orange;
}

main{
  margin: 70px 200px;
  margin-bottom: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionContact{
  width: 485px;
  padding: 20px;
}
#contact1{
  width: 62%;
}
#contact1 h2{
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
#paragraph{
  text-align: center;
  color: rgb(150, 150, 150);
}
#contact2{
  width: 28%;
}
.contactForm{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contactForm p{
  margin-bottom: 10px;
  margin-top: 30px;
}
.input{
  width: 45%;
}
.input p{
  margin-left: 25px;
  color: rgb(150, 150, 150);
}
input{
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color:  rgb(230, 230, 230);
  padding-left: 25px;
}
#messageInput{
  width: 665px;
  height: 80px;
}
#submitButton{
  width: 300px;
  height: 50px;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 40px;
  background-color: rgb(251, 220, 21);
  transition: 0.2s;
}
#submitButton:hover{
  cursor: pointer;
  background-color: rgb(255, 221, 0);
  transform: scale(1.05);
}
#emailInput{
  width: 300px;
  height: 50px;
}
#emailSendButton{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contactInfo{
  width: 100%;
  height: 70px;
  margin-bottom: 65px;
}
.infoTitle{
  border-bottom: 2px solid rgb(255, 221, 0);
  padding-bottom: 10px;
  font-weight: bold;
}
.infoContent{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.infoContent i{
  font-size: 1.5rem;
  margin-right: 20px;
  color: rgb(150, 150, 150);
  transition: 0.2s;
}
.infoContent i:hover{
  cursor: pointer;
  font-size: 1.7rem;
  color: rgb(251, 220, 21);
}

.fa-phone{
  font-size: 1.5rem;
  margin-right: 20px;
  color: black;
  transition: 0.2s;
}
.fa-phone:hover{
  cursor: pointer;
  font-size: 1.54rem;
  color: rgb(251, 220, 21);
}


