h1{
    font-size:64px ;
    font-weight: bold;
}
h2{
    font-size: 32px;
    padding-bottom: 10px;
}
h3{
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 2;
}
#button{
    height: 50px;
    width: 170px;
    border-radius: 40px;
    border: none;
    background-color: rgb(236, 70, 70);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.2s;
}
#button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(237, 44, 44);
}
/* MAIN */

/* 1ere section */
.histoire{
    background: lightgray;
    display: flex;
    clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 49% 100%);
}
#histoire{
    max-width: 1376px;
    display: flex;
    align-items: flex-start; 
}
.histoire-image{
    width: 550px;
    height: 600px;
    margin-left: 150px;
}
.histoire-text{
    max-width: calc(50% - 40px);
    width: 100%;
    padding: 70px 20px 0;
}
.histoire-text p{
    color: gray;
    padding-bottom: 30px;
}
.histoire-chiffres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}
.histoire-chiffres h1{
    color: orange;
}

/* 2e section */
.reassurance{
    width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:50px;
    grid-row-gap: 0px
}
.delivery, .food, .chiefs, .dishes{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 70px;
    
}
.trait-orange{
    width: 20px;
    height: 2px;
    background: orange;
    margin: 0 auto;
}
.reassurance p {
    padding-top: 15px;
}
.reassurance h3{
    padding: 15px;
}

/* 3e section */

.menu{
    width: 1150px;
    height: 530px;
    background: gray;
    margin: 100px auto;
    border: 3px white double;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.menu-1, .menu-2 {
    max-width: 575px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    color: white;
}
.menu p{
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 50px;
}


@media(max-width: 750px){
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding-top: 40px;
      }
      #button{
        display: block;
      }
}
