/*Première section*/
.freedelivery{
background-image: url(../images/parallax-05.jpg);
height: 200px;
}
.freedelivery{
    text-align: center;
}
.freedelivery p{
    color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.freedelivery .prix{
    color: orange;
    font-size: 40px;
}
.freedelivery .t{
    color: aliceblue;
    font-size: 15px;
}
.freedelivery .calltoaction{
    font-size: 10px;
    color: aliceblue;
    padding: 11px 21px;
    background-color: #f14250;
    border-radius: 20px;
}
.freedelivery .calltoaction:hover{
    filter: brightness(90%);
    color: rgb(251, 243, 244);
}
/*Fin première section*/

/*Section chefs*/

.bonjour{
    display: flex;
    justify-content: space-around;
}
.bonjour p{
    text-align: center;
    color: orange;
    font-weight: bold;
}
.bonjour img{
    text-align: center;
}
.ourchefs h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ourchefs img{
    border-radius: 150px;
}





/*Section Partners*/
.Ourpartners h2{
    text-align: center;
    margin-top: 200px;
}
.Ourpartners .partners{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.Ourpartners p{
    margin-top: 10px;
    text-align: center;
}
/*Fin section partners*/

/*Section images*/
.images{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 80px;
}

/*Section  Testimonials*/

.OurTestimonials h2{
    margin-top: 200px;
}
.OurTestimonials h2{
    text-align: center;
}
.The img{
    border-radius: 150px;
}
.BestB{
    display: flex;
}
.The{
    display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 70px;
}
.The p{
    padding: 10px 50px 20px;
}
.BestB h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.BestB p{
    font-size: 15px;
}
.BestB .name{
    color: gray;
    font-size: 10px;
}