/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.Noschefs{
    background-image: url(../images/bg-image-breadcrumbs.jpg);
    text-align: center;
    height: 304px;
    color: aliceblue;
    margin-top: 50px;
}
.Noschefs h2{
    padding-top: 50px;
}
.Noschefs p{
    color: orange;
}
.Team{
    margin-top: 50px;
}
.Team h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Team p{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.statut{
    text-align: center;
    margin-bottom: 20px;
    color: gray;
    font-style: italic;
}

.chefs, .trois{
    display: flex;
    justify-content: space-around;
}

.Orni img{
    border-radius: 150px;
}

.Biltam img{
    border-radius: 150px;
}

.Rabina img{
    border-radius: 150px;
}

.trois{
    margin-left: 150px;
    margin-right: 150px;
}
.trois p{
    display: flex;
    justify-content: space-around;
}
.icone{
    display: flex;
    justify-content: space-around;
}