/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fin Reset CSS*/

a{
  text-decoration: none;
}


.header-image{
  height: 304px;
  background: url(../images-resto/toast-header.jpg);
  text-align: center;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-image h1{
  color: white;
  font-size: 64px;
}
.header-image p{
  font-size: 1.1rem;
  font-weight: bold;
}
.header-image #pageName{
  color: white;
}
.filariane{
  display: flex;
}
.homeAriane, .menuAriane{
  color: orange;
}




  /* MAIN */
  .download .boutons{
    text-align: center;
    padding-bottom: 100px;
  }
  .download{
    text-align: center;
  }
  .callToAction{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 300px;
    height: 50px;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgb(251, 220, 21);
    transition: 0.2s;
  }
  .callToAction:hover{
    cursor: pointer;
    background-color: rgb(255, 221, 0);
    transform: scale(1.05);
  }
  
.menu{
  width: 1150px;
  height: 530px;
  background: gray;
  margin: 100px auto;
  border: 3px white double;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menu-1, .menu-2 {
  max-width: 575px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li{
  color: white;
}
.menu p{
  color: lightgray;
  padding-top: 10px;
  padding-bottom: 50px;
}

  .fast-delivery{
    height: 304px;
    background: url(../images-resto/pizzaGuy.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trait-orange{
    width: 30px;
    height: 3px;

    background: orange;
  }
  .fast-delivery p{
    padding-left: 20px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: whitesmoke;
  }
  .fast-delivery h1{
    padding-right: 20px;
    font-size: 3rem;
    color: whitesmoke;
  }
  .fast-delivery .callToAction{
    background: none;
    padding: 10px 20px;
    border: 2px white solid;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  .boutons{
    transition: 0.2s;
  }
  .boutons:hover{
    transform: scale(1.1);
  }


  @media(max-width: 750px){
    .menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding-top: 40px;
    }
    .fast-delivery{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .trait-orange{
      display: none;
    }
    
  }

